/bin/*
/obj/*
/Debug/*
/Release/*
/*.user
/*.suo
/*.userosscache
/*.sln.docstates
/.vs/*
/.idea/*
.ideia/*
/*.iml
/.Rider/*
/.vscode/*
.Rider/*
.vscode/*
/.DS_Store
/*.log
/*.tlog
/*.lastbuildstate
/*.ncrunch*
/*.ncrunchsolution
/*.resharper
/*.DotSettings.user
/_ReSharper.Caches/*
/.nuget/packages/*
/project.lock.json
/project.fragment.lock.json
DSA_CSharp/obj/*
DSA_CSharp/bin/*
DSA_CSharp/*.user
DSA_CSharp/*.suo
DSA_CSharp/*.userosscache
DSA_CSharp/*.sln.docstates
DSA_CSharp/.vs/*
DSA_CSharp/.idea/*
DSA_CSharp/.Rider/*
DSA_CSharp/.vscode/*
DSA_CSharp/.DS_Store
DSA_CPP/*.o
.github/*

DSA_CPP/dsa_cpp
DSA_CPP/.idea/
